.card-wrap{
    max-width: 725px;
    width: 100%;
    padding: 40px 35px 55px 35px;
    position: relative;
    box-shadow: 0px 2px 12px 0px #00000029;
    border-radius: 15px;
    margin-bottom: 20px;
    .badge{
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        --f: .5em; /* control the folded part*/
        --r: .8em; /* control the ribbon shape */
        
        position: absolute;
        top: 20px;
        right: calc(-1*var(--f));
        padding-inline: .25em;
        line-height: 2.2;
        background-image: linear-gradient(#2E95F4,#21619C);
        border-bottom: var(--f) solid #0005;
        border-left: var(--r) solid #0000;
        clip-path: 
        polygon(var(--r) 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)),var(--r) calc(100% - var(--f)),
            0 calc(50% - var(--f)/2));
        width: 117px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .badge-txt{
        font-size: 16px;
        background-color:#F0F6FB;
        padding: 10px 10px 10px 45px;
        margin-bottom: 30px;
        color:#007EF1;
        display: inline-block;
        position: relative;
        border-radius: 8px;
        line-height: 22px;
        .img{
            position: absolute;
            left: 10px;
            width: 25px;
            top: 5px;
            z-index: 1;
        }
    }

    .h3{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .txt{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 50px;
        width: 580px;
        line-height: 22px;
    }
    .amount{
        font-size: 16px;
        .amt{
            font-size: 32px;
            font-weight: 600;
        }
    }
    .flex-row{
        justify-content: space-between;
    }
    .action{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .btn{
        min-width: 136px;
    }
    .btn-default{
        background: #E5F2FF;
    }
    &.active{
        background: #F1F8FF;
        .badge-txt{
            background-color: #fff;
        }
        .btn-default{
            background: #fff;
        }
    }
}
